[submodule "support"]
	path = support
	url = https://github.com/benbellaiche/libcec-support.git
	branch = master
[submodule "src/plateform"]
	path = src/plateform
	url = https://github.com/benbellaiche/platform.git
	branch = master
