[submodule "support"]
	path = support
	url = https://github.com/benbellaiche/libcec-support.git
	branch = master
[submodule "src/platform"]
	path = src/platform
	url = https://github.com/benbellaiche/platform.git
	branch = master
