[submodule "support"]
	path = support
	url = https://github.com/benbellaiche/libcec-support.git
	branch = master
[submodule "libcec-support"]
	path = libcec-support
	url = https://github.com/benbellaiche/libcec-support.git
	branch = master
